
body {
	background-image: linear-gradient(-225deg, #1a187a 0%, #ff0000 100%);
}

.shapka {
	text-align:center;
	background-color:white;
	display: flex;
	border-radius: 50px;
	font-family: Impact;
	box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.938);


}
.shapka img {
	margin-left: 20px;
}

nav {
	width:100%;	
	height:10%;
	text-align:center;
	font-family: Impact;
	

}

.left-side {
	display: flex;
	flex-direction: row-reverse;
	height: 640px;
}
.left {
	width:150px;
	height: 1000px;
	background-color:orange;
	font-family: Impact;
	right: 0px;
	height: 100%;
}

.right-side {
	display: flex;
	flex-direction: row;
	height: 640px;
	position:absolute;
}
.right {
	width:400px;
	height: 1000px;
	font-family: Impact;
	height: 100%;
}

.osnova {
	width:100%
}

.footer1 {
	position:absolute;
	width:50%;
	height:74px;
	background-color:#ff6f6f;
	bottom:0px;
	font-family: Impact;
	position: fixed;
	height: 10%;
	border-radius: 5px;
	box-shadow: 0 0 50px 0 rgba(255, 147, 147, 0.986);
}

.footer2 {
	position:absolute;
	width:50%;
	height:75px;
	background-color:#ff4d4d;
	right:0px;
	bottom:0px;
	font-family: Impact;
	position: fixed;
	height: 10%;
	border-radius: 5px;
	box-shadow: 0 0 50px 0 rgba(255, 114, 114, 0.986);
	font-size: 15px;
	
}

.new {
   padding: 15px 29px;
   color: rgba(238, 238, 238, 0.829);
   border-radius: 50px;
   font-size: 50px;
   background-color: rgba(0, 0, 0, 0);
   border: 0px;
   cursor: pointer;
   float: center;
   font-family: Impact;

   
}
.new:hover {
    background: rgba(255, 255, 255, 0.205);;
	box-shadow: 0 0 50px 0 rgba(255, 255, 255, 0.253);
 }
 .text1 {
	 font-size: 40px;
	 color: rgb(255, 127, 127);	 
 }
 .text {
	font-size: 13px;

 }



.girl {
	margin-left: 50%;
}
.card {
	margin-left: 200%;
}
 .arrow {
 margin-top: -350px;
 margin-left: 100%;
}